{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css'  %}">
{% endblock extra_css %}
{% block extrajs %}

{% endblock extrajs %}


{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container ">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Receipt</h2>
            <hr>
            <p class="text-black">A confirmation email will be sent to: <strong>{{order.email}}</strong></p>
        </div>
    </div>
{% comment %} itemise each bag item {% endcomment %}
    {% for item in order.lineitems.all %}
    <div class="row">
        <div class="col-12 col-lg-7">
            <hr>
            <p>{{item.quantity}} || {{item.product.name}}
                {% if item.product_size %} - Size {{item.product_size|upper}} 
                {% endif %}
            </p>            
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-12 col-lg-5">
            <p><strong>{{order.order_number}}</strong> derp</p>
            <br>
            <p>Total: <strong>{{order.order_total}}</strong></p>
        </div>
        <div class="col-12 col-lg-7 text-right">
            <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-black rounded-0 my-2">
                Keep shopping
            </a>
        </div>
    </div>
</div>

{% endblock content %}