.fieldset-label{
    position: relative;
    right: 0.5rem;
}

#payment-form .form-control,
#card-element{
    color: black;
    border: 1px solid #000;
}

select,
select option{
    color:#000;
}

select:invalid,
select option[value=""]{
    color: #aab7c4;
}